{
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "indent": [2, 2, { "SwitchCase": 1 }],
    "react/jsx-indent": ["error", 2],
    "react/jsx-indent-props": ["error", 2]
  },
  "settings": {
    "import/resolver": {
      "alias": [
        ["@components", "./src/components"],
        ["@config", "./src/config"],
        ["@content", "./src/content"],
        ["@fonts", "./src/fonts"],
        ["@images", "./src/images"],
        ["@pages", "./src/pages"],
        ["@styles", "./src/styles"],
        ["@utils", "./src/utils"]
      ]
    }
  }
}
